body {
    font-family: sans-serif;
}

.banner-container {
    background-color: rgb(105, 101, 101);
}

.banner-column {
    background-color: lightgray;
}

.about-container {
    background-color: lightblue
}